.cursor-pointer {
    cursor: pointer;
  }

  #banks div{
    transition: 1s;
}

#banks div:hover{
    background: blue !important;
    color:white;
}

.row {
  margin-bottom: 20px;

}

.card{
  height: 200px;

}

img{
  height: 40px;
  width: 40px;
}